@model SuvanaFoods.Models.OrderConfirmedViewModel

<div class="container">
    <h1>Order Confirmation</h1>
    <p>@Model.ConfirmationMessage</p>

    <h3>Order Details</h3>
    <p><strong>Order No:</strong> @Model.OrderId</p>
    <p><strong>Date:</strong> @Model.OrderDate.ToShortDateString()</p>
    <p><strong>Name:</strong> @Model.CustomerName</p>
    <p><strong>Delivery Mode:</strong> @Model.DeliveryMode</p>
    @if (Model.DeliveryMode == "Delivery")
    {
        <p><strong>Delivery Address:</strong> @Model.Address</p>
    }

    <h3>Items:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>R @String.Format("{0:F2}", item.Price)</td>
                    <td>R @String.Format("{0:F2}", item.Total)</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Total Amount: R @String.Format("{0:F2}", Model.TotalAmount)</h4>


    <div class="checkout-actions">
        <a href="/Customer/DownloadReceipt?orderId=@Model.OrderId" class="btn btn-primary">Download Receipt</a>
    </div>
</div>


<style>
    .container {
        margin-top: 50px;
    }

    .order-total {
        text-align: right;
        margin-top: 20px;
        font-size: 18px;
    }

    .checkout-actions {
        text-align: center;
        margin-top: 30px;
    }
</style>
